@import "search";

.sidebar{
	list-style: none;
	.widget-content{
		border: 3px solid #858585;
		border-radius: 10px;
		margin-bottom: 20px;
		padding-left: 0px;
		padding-right: 0px;
		label, h3{
			text-transform: uppercase;
			color: white;
			background: #858585;
			width: 100%;
			padding: 10px 10px;
			margin-top: 0px;
			text-align: center;
			font-size: 14px;
			font-weight: 500;
			
		}
		ul{
			list-style: none;
			a{
				color: #2b2b2b;
				line-height: 25px;
			}
		}
	}
}

.before-footer{
	padding-left: 15px;
	.widget-content{
		border: none;
		border-radius: 0px;
		margin-bottom: 20px;
		padding: 0px;
		label, h3{
			text-transform: uppercase;
			color: #FFF;
			width: 100%;
			background: none;
			padding: 10px 10px;
			margin-top: 0px;
			text-align: left;
			margin-left: 30px;
			font-size: 14px;
			font-weight: bold;	
		}
		ul{
			list-style: none;
			a{
				color: #FDFDFD;
				line-height: 25px;
			}
		}
	}
	#s{
		margin-left: -70px;
	}
}