.header,
.footer,
.contents{
	//border: 1px solid #000;
	padding: 15px;
	text-align: justify;
}

@import "partials/variables";
@import "partials/typography";		
@import "partials/navigation";
@import "partials/footer";
@import "partials/search";
@import "partials/widget";

body{
	padding: 0px;
}


.navbar-default{
	margin-bottom: 0px;
}
/***********************
Sidebar Properties
***********************/
.sidebar{
	padding-left: 0;
}

/***********************
contents Properties
***********************/
.contents{
	background: #fdfdfd;
	.row{
		margin-left: 100px;
		margin-right: 100px;
	}
	.entry-content{
		// width: 1000px;
		width: 800px;
	}
}
