.navbar{
	z-index: 10;
	background-color: $white;
	height: 80px;
	border: 0px;
	border-radius: 0px;
	border-color: $white;
	border-bottom: 5px solid $medium-gray;
		.site-title{
			float: left;
			padding: 20px;
			.navbar-brand{
				color: $dark-gray;
				font-family: 'RobotoSlab-Bold';
				font-size: 24px;
				padding: 0px;
				width: auto;
				height: auto;
				float: left;
				position: relative;
			}
			.site-description{
				position: relative;
				color: $medium-gray;
				font-family: 'OpenSans-Light';
				font-size: 14px;
				text-transform: uppercase;
				float: left;
				clear: both;
			}
		}
	.nav{
		margin-top: 0px;
		background: #fff;
		li{
			position: relative;
			min-width: 130px;
			height: 75px;
			padding: 10px 10px;
			text-align: center;

			&.active{
				background-color: $medium-gray;
				a{
					color: $white;
					background-color: $medium-gray;
				}
			}

			&:hover, &.active:hover{
				background-color: $dark-gray;
				a{
					color: $white;
					background-color: $dark-gray;
				}
			}

			a{
				color: $medium-gray;
				font-family: 'OpenSans-Regular';
				font-size: 14px;
				text-transform: uppercase;
			}
		}
	}
}

/***********
 Navigation Media Queries
***********/

@media screen and ( max-width: 700px ){
  	.navigation-class{
		width: 25%;
		height: 100%;
		position: fixed;
		top: 0px;
		right: -25%;
		overflow-x: hidden;
		overflow-y: auto;
		background: white;
		-webkit-transition: all 0.3s ease;		
		-moz-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		-ms-transition: all 0.3s ease;
		transition: all 0.3s ease;
	}
	.animate-nav{
		margin-right: 25%;
	}
	.navbar-toggle-animate{
		margin-right: 26%;
	}
	.navbar-toggle{
		-webkit-transition: all 0.3s ease;		
		-moz-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		-ms-transition: all 0.3s ease;
		transition: all 0.3s ease;
	}
}

