@font-face {
  font-family: 'RobotoSlab-Bold';
  src: url("../fonts/RobotoSlab-Bold.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-Light';
  src: url("../fonts/OpenSans-Light.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-Regular';
  src: url("../fonts/OpenSans-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

/* line 1, ../sass/partials/_navigation.scss */
.navbar {
  background-color: white;
  height: 80px;
  border: 0px;
  border-radius: 0px;
  border-color: white;
  border-bottom: 5px solid #858585;
}
/* line 8, ../sass/partials/_navigation.scss */
.navbar .site-title {
  float: left;
  padding: 20px;
}
/* line 11, ../sass/partials/_navigation.scss */
.navbar .site-title .navbar-brand {
  color: #1d1d1d;
  font-family: 'RobotoSlab-Bold';
  font-size: 24px;
  padding: 0px;
  width: auto;
  height: auto;
  float: left;
  position: relative;
}
/* line 21, ../sass/partials/_navigation.scss */
.navbar .site-title .site-description {
  position: relative;
  color: #858585;
  font-family: 'OpenSans-Light';
  font-size: 14px;
  text-transform: uppercase;
  float: left;
  clear: both;
}
/* line 31, ../sass/partials/_navigation.scss */
.navbar .nav {
  margin-top: 0px;
}
/* line 33, ../sass/partials/_navigation.scss */
.navbar .nav li {
  position: relative;
  min-width: 130px;
  height: 75px;
  padding: 10px 10px;
  text-align: center;
}
/* line 39, ../sass/partials/_navigation.scss */
.navbar .nav li a {
  color: #858585;
  font-family: 'OpenSans-Regular';
  font-size: 14px;
  text-transform: uppercase;
}
/* line 45, ../sass/partials/_navigation.scss */
.navbar .nav li:hover, .navbar .nav li:focus, .navbar .nav li.active {
  background-color: #858585;
}
/* line 47, ../sass/partials/_navigation.scss */
.navbar .nav li:hover a, .navbar .nav li:focus a, .navbar .nav li.active a {
  color: white;
}

/* line 5, ../sass/style.scss */
body {
  padding: 0px;
}
